
/*
a,
a.active,a:active,a:focus,a:hover,
a:visited {
    color: #3eaf7c;
} */
a:visited {
    color: #5755d9;
}
hr{
    margin: 1rem 0;
    border: .05rem solid #f1f3f5;
}
ul {
    list-style: circle inside;
}
ul ul {
    list-style-type: disc;
}
pre[class*="language-"]{
    border-radius: .3rem;
    background: #2d2d2d;
    padding: 1em;
    margin: 0;
    margin-bottom: 1.2rem;
    overflow: auto;
}
code[class*="language-"]{
    padding-left:0;
}

:not(pre) > code{
    margin: 0;
    font-size: .85em;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

tr {
    border-top: 1px solid #dfe2e5
}

tr:nth-child(2n) {
    background-color: #f6f8fa
}

td,th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em
}

.pagination .page-item.active span{
    background-color: #5755d9;
    border-radius: .1rem;
    padding: .2rem .4rem;
    color: #FFF;
}
.pagination{
    justify-content: center;
}
.pagination .page-item {
    margin: .2rem .3rem;
}
a.chip.tag{
    background-color: #5755d9;
    color:#FFF!important;
}
a.chip.tag:hover{
    text-decoration: none;
}
.article > h1,
.article > h2,
.article > h3,
.article > h4,
.article > h5,
.article > h6{
	padding:1rem .5rem;
	margin-bottom:0;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
}
.article > h1:before,
.article > h2:before{
    width: 8px;
    height: 17px;
    top: 24px;
    background-color: #5755d9;
    border-radius: 20px;
    border: 1px solid #5755d9;
    display: block;
    position: absolute;
    left: -6px;
    content: "";
}
.article > h3,
.article > h4,
.article > h5,
.article > h6{
    padding:1rem 0 .5rem 0;
    border-bottom: 1px solid #CCC;
    margin-bottom:1rem;
}
h1:hover .header-anchor,h2:hover .header-anchor,h3:hover .header-anchor,h4:hover .header-anchor,h5:hover .header-anchor,h6:hover .header-anchor {
    opacity: 1
}
a.header-anchor {
    opacity: 0;
    margin-left:.3rem;
}
.article p{
	line-height: 1.9;
}
.article img{
	margin : .5rem 0;
}
.article p img{
	vertical-align: middle;
}
.container{
    max-width: 1050px;
}
.navbar{
    padding: .6rem 0;
    border-bottom: 1px solid #d1d1d1;
    background-color: #f7f8f9;
}
.navbar .navbar-brand{
    width: 150px;
    float: left;
}
.navbar .navbar-link{
    text-align: right;
}
.navbar-link a{
    margin-right: 2rem;
    font-weight: 500;
    color:inherit;
}
.main{
    display:flex;
    flex-wrap: wrap;
}
.home .main{
    display: block;
}
.main .content{
    flex: 1;
    margin-right: 4em;
    max-width: 670px;
}
.main .content,
.main .sidebar{
    padding-top:2rem;
}
.sidebar{
    width: 300px;
}
.sidebar h3{
    font-size: 1rem;
}
.sidebar .ad a{
    font-weight: 600;
}
.sidebar .wrap{
    margin-bottom: 2rem;
}
.sidebar .posts .date{
    font-size:.7rem
}
.sidebar .posts li{
    margin-bottom: .8rem;
}
.sidebar ul{
    margin-left:0;
}

.content .date{
    font-size: .9em;
    padding-bottom: .5em;
}
.content .title{
    color:#000;
    border-bottom: 1px solid #dadee4;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
.content img{
    max-width: 100%;
}

.home-hero{
    text-align: center;
    margin: 3rem 0;
}
.home-hero .overview{
    margin-bottom: 3rem;
}
.home-hero .overview h1{
    font-size: 1.6rem;
    margin-bottom: 0;
}
.home-hero h2{
    font-size: 1rem;
}

.post-index .column{
    padding-bottom:1rem;
}
.post-index .card{
    height: 100%;
    /* box-shadow: 0 3px 12px -1px rgba(7,10,25,.2), 0 22px 27px -20px rgba(7,10,25,.2); */
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
    transition: all .3s ease;
    display: block; /*IE11*/
}
.post-index .card:hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translate(0,-2px);
}
.post-index .card a{
    text-decoration: none;
    color:#000;
}
.post-index .card-title{
    font-size: .9rem;
    font-weight: bold;
}
.post-index .card-footer{
    padding-top:0;
}
.post-index .date{
    font-size: .7rem;
    color: #736e6e;
    padding-bottom: .3rem;
}
.post-index img{
    border-bottom: 1px solid #f7f2f2;
}


.footer{
    text-align: center;
    margin-top:1rem;
    padding: 1rem;
    border-top: 1px solid #d1d1d1;
}

@media (max-width: 600px) {
    .navbar .navbar-brand {
        float: none;
    }
    .navbar .navbar-link {
        text-align: left;
        padding-top:1rem;
    }
}
@media (max-width: 1000px) {
    .main{
        display: block;
    }
    .main .content{
        margin-right: 0;
    }
    .sidebar{
        width: 100%;
    }
}